<body>
    <div class="header">
        <div class="container">
            <a href="/" class="logo">
                <img src="/image/logo.png">
                <span>ShopDP</span>
            </a>
            <ul>
                <li>
                    <form action="#" method="GET">
                        <input type="text" class="searchTerm" placeholder="Tìm kiếm sản phẩm">
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </li>
                <li>
                    <ion-icon name="call"></ion-icon>
                    <div>
                        <a>Hotline</a>
                        <a>1900.XXXX</a>
                    </div>

                </li>
                <li>
                    <ion-icon name="cart"></ion-icon>
                    <div>
                        <a>Giỏ<br>hàng</a>
                    </div>
                </li>
            </ul>


        </div>
    </div>
    <div class="menu">
        <div class="container-menu">
            <a href="/dienthoai" class="item">Điện thoại</a>
            <a href="/maytinhbang" class="item">Máy tính bảng</a>
            <a href="/laptop" class="item">Laptop</a>
            <a href="/dongho" class="item">Đồng hồ</a>
            <a href="/phukien" class="item">Phụ kiện</a>
        </div>
    </div>